<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short url detail</title>
</head>
<body>

    <div>
        <p>url: {{ object.url }}</p>
        <p>key: {{ object.key }}</p>
        <p>active_from: {{ object.active_from }}</p>
        <p>active_until: {{ object.active_until }}</p>
        <p>created_at: {{ object.created_at }}</p>
    </div>

</body>
</html>